.social-media {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 270px;
  text-align: center;
  a {
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    display: block;
    padding: 12px 8px;
    color: white;
    height: 48px;
  }
  a:hover {
    transform: scale(1.2);
    z-index: 1;
  }
  svg {
    width: 24px;
    height: 24px;
  }
}
