body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  display: flex;
}

html,
body {
  height: 100%;
}

.sidebar {
  width: 350px;
  min-width: 350px;
  border-right: 1px solid #e0e0e0;
  padding: 30px 40px;
  .logo {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    position: relative;
    img {
      width: 40px;
      height: 40px;
      position: relative;
      left: -20px;
    }
    a {
      cursor: pointer;
      font-size: 24px;
      font-weight: 400;
      text-decoration: none;
      color: #333333;
      &:hover {
        color: #0099e5;
      }
    }
  }
  .description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(96, 125, 139);
    margin-bottom: 25px;
    a {
      cursor: pointer;
      &:hover {
        color: #0099e5;
      }
    }
  }
  .menu {
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 2;
    ul {
      li {
        a {
          display: block;
          font-weight: 600;
          color: #333;
          cursor: pointer;
          &:hover {
            color: #0099e5;
          }
        }
      }
    }
  }
}

.promo {
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #e0e0e0;
  span {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #263238;
  }
  p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: rgb(96, 125, 139);
    cursor: pointer;
    &:hover {
      color: #0099e5;
    }
  }
}

.social-media {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 270px;
  text-align: center;
  a {
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    display: block;
    padding: 12px 8px;
    color: white;
  }
  a:hover {
    transform: scale(1.2);
    z-index: 1;
  }
  svg {
    width: 24px;
    height: 24px;
  }
}

.info-modal {
  max-width: 720px;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba($color: #000000, $alpha: 0.1);
  padding: 50px;
  position: relative;

  h3 {
    font-size: 26px;
    margin-bottom: 25px;
  }
  p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    background: #ddd;
    cursor: pointer;
    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.info-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba($color: #fff, $alpha: 0.8);
}
