body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

#root {
  // height: 100vh;
  display: flex;
}

html,
body {
  //height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  width: 350px;
  min-width: 350px;
  padding: 30px 40px;
  .logo {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    position: relative;
    img {
      width: 40px;
      height: 40px;
      position: relative;
      left: -20px;
    }
    a {
      cursor: pointer;
      font-size: 24px;
      font-weight: 400;
      text-decoration: none;
      color: #333333;
      &:hover {
        color: #0099e5;
      }
    }
  }
  .description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(96, 125, 139);
    margin-bottom: 25px;
    a {
      cursor: pointer;
      &:hover {
        color: #0099e5;
      }
    }
  }
  .menu {
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    line-height: 2;
    ul {
      li {
        a {
          display: block;
          font-weight: 600;
          color: #333;
          cursor: pointer;
          &:hover {
            color: #0099e5;
          }
        }
      }
    }
  }
}

.promo {
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #e0e0e0;
  cursor: pointer;
  span {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #263238;
  }
  p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: rgb(96, 125, 139);
    &:hover {
      color: #0099e5;
    }
  }
}

.social-media {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 270px;
  text-align: center;
  a {
    cursor: pointer;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    position: relative;
    display: block;
    padding: 12px 8px;
    color: white;
    height: 48px;
  }
  a:hover {
    transform: scale(1.2);
    z-index: 1;
  }
  svg {
    width: 24px;
    height: 24px;
  }
}

.info-modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 4vw;
  background-color: white;
  -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);

  h3 {
    margin-bottom: 0.7em;
    font-size: 24px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(96, 125, 139);
    b {
      color: black;
    }
  }

  .modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 35px;
    height: 35px;
    background: #ddd;
    cursor: pointer;
    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.info-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba($color: #fff, $alpha: 0.8);
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #e0e0e0;
  .header {
    height: 50px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
    .search {
      flex: 1;
      font-size: 16px;
      position: relative;
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        svg {
          width: 20px;
          height: 20px;
          color: #607d8b;
        }
      }
      input {
        color: #607d8b;
        width: 100%;
        height: 100%;
        padding: 0 20px 0 60px;
      }
    }
  }
  .brands {
    .brand-items {
      display: flex;
      position: relative;
      padding: 15px 15px 15px 0;
      margin-left: 15px;
      border-bottom: solid 1px #e0e0e0;
      .brand-titles {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: rgb(38, 50, 56);
        width: 25%;
        cursor: pointer;
        .done-icon {
          color: #2196f3;
          width: 24px;
          height: 24px;
          left: -28px;
          top: 24px;
          background: white;
          position: absolute;
        }
      }
    }
    .brand-colors {
      display: flex;
      width: 100%;
      gap: 5px;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--bgColor);
        width: 60px;
        height: 40px;
        color: var(--textColor);
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        text-indent: -9999px;
      }
    }
    .brand-items.selected .brand-colors span {
      text-indent: 0;
      flex: 1;
    }
  }
  .done-icon {
    color: #2196f3;
    width: 24px;
    height: 24px;
    left: 300px;
    top: 24px;
    background: white;
    position: absolute;
  }
}
